FUJI_RPC_URL=
AVALANCHE_RPC_URL=

DEPLOYER_PRIVATE_KEY=
ADMIN_ADDRESS=
MINTER_ADDRESS=

APPROVED_PAYMENT_TOKEN=
PAYMENT_TOKEN_ALLOWLIST_ENABLED=true

RECEIPT_CONTRACT_ADDRESS=
EXTRA_MINTER_ADDRESS=
EXTRA_PAUSER_ADDRESS=

AVALANCHE_EXPLORER_API_KEY=
